<div
    class="list-item"
    (click)="onClick()"
    [style.cursor]="clickEvent.observed ? 'pointer' : 'default'"
>
    <div class="list-item-info">
        @for (prop of item.properties; track item.id + prop; let i = $index) {
            <div class="column">
                <span>{{ prop }}</span>
            </div>
        }

        @if (buttonEvent.observed) {
            <button class="remove-btn" (click)="onButtonClick()">
                <app-remove-icon />
            </button>
        }
    </div>
</div>
