<div
    class="list-item"
    [style.cursor]="clickEvent.observed ? 'pointer' : 'default'"
    [class.alt-color]="altColor"
>
    <div
        class="columns"
        (click)="onClick()"
        (keyup.enter)="onClick()"
        tabindex="0"
    >
        @for (prop of item.properties; track $index + prop; let i = $index) {
            <div class="column">
                <span>{{ prop }}</span>
            </div>
        }
    </div>

    @if (buttonEvent.observed) {
        <button
            class="remove-btn"
            (click)="onButtonClick()"
            [ariaLabel]="'remove ' + item.properties[0]"
        >
            <app-remove-icon />
        </button>
    }
</div>
