.content-wrapper {
    display: flex;
    flex-direction: column;
}

.align-btn {
    align-self: end;
}

.btn-alt {
    background-color: var(--darkest-red);
    color: var(--body-color);
}

.btn-alt:hover {
    color: var(--dark-text);
}

.alt-btn-msg {
    align-self: end;
    justify-self: end;
    text-align: end;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--dark-color);
}

.btn-error {
    background-color: var(--light-red);
    outline: var(--dark-red) 2px solid;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin-bottom: 1rem;
}
