<div class="content-wrapper">
    @if (!loading && !hideButton && !errorFlag) {
        <button
            class="btn align-btn"
            [class.btn-alt]="useAltButtonColor"
            (click)="onClick()"
        >
            {{ buttonText }}
        </button>
    } @else if (altButtonMessage && !loading && !errorFlag) {
        <span class="altButtonMessage">{{ altButtonMessage }}</span>
    }

    @if (loading) {
        <app-spinner />
    } @else if (!errorFlag) {
        <ng-content />
    } @else {
        <span>An error has occured or the content does not exist.</span>
    }
</div>
