<div class="content-wrapper">
    @if (!hideButton || content !== undefined) {
        <button
            class="btn align-btn"
            [class.btn-alt]="useAltButtonColor"
            (click)="onClick()"
        >
            {{ buttonText }}
        </button>
    }
    @if (loading) {
        <app-spinner />
    } @else if (!loading && (content !== undefined || ignoreContent)) {
        <ng-content />
    } @else {
        <span>An error has occured or the content does not exist.</span>
    }
</div>
