.content-wrapper {
    display: flex;
    flex-direction: column;
}

.align-btn {
    align-self: end;
    margin-bottom: 2rem;
}

.btn-alt {
    background-color: var(--darkest-red);
    color: var(--body-color);
}

.btn-alt:hover {
    color: var(--dark-text);
}
