<div class="schools-wrapper">
	<div class="schools-header">
		<button class="btn" (click)="createSchool()">Create School</button>
	</div>
	<app-item-list-header [columns]="['Name', 'Address', 'Phone Number']" />
	@for(school of schools; track school.id) {
	<app-list-item
		(clickEvent)="viewSchool(school.id)"
		[item]="{
			id: school.id,
			properties: [
				school.name,
				school.address,
				school.phoneNumber | phoneNumber
			]
		}" />
	} @if(schools.length >= PAGE_SIZE) {
	<button class="load-more-btn" (click)="getSchools()">Load more</button>
	}
</div>
