<div>
	<div class="schools-header">
		<button (click)="createSchool()">Create School</button>
	</div>
	<div class="column-heading">
		<span>Name</span>
		<span>Address</span>
		<span>Phone Number</span>
	</div>
	@for(school of schools; track school.id) {
	<div class="school-item" (click)="viewSchool(school.id)">
		<div class="school-info">
			<span>{{ school.name }}</span>
			<span>{{ school.address }}</span>
			<span>{{ school.phoneNumber | phoneNumber }}</span>
		</div>
	</div>
	}
</div>
