<div class="schools-wrapper">
	<div class="schools-header">
		<button class="btn" (click)="createSchool()">Create School</button>
	</div>
	<app-item-list-header [columns]="['Name', 'Address', 'Phone Number']" />
	@for(school of schools; track school.id) {
	<div class="school-item" (click)="viewSchool(school.id)">
		<div class="school-info">
			<span>{{ school.name }}</span>
			<span>{{ school.address }}</span>
			<span>{{ school.phoneNumber | phoneNumber }}</span>
		</div>
	</div>
	} @if(schools.length >= PAGE_SIZE) {
	<button class="load-more-btn" (click)="getSchools()">Load more</button>
	}
</div>
