.column-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0 1rem 0;
	border-bottom: 1px solid var(--offwhite);
	font-weight: 700;
}

.column-heading > span {
	width: 33%;
}

.school-item {
	display: flex;
	align-items: start;
	padding: 0.8rem 0 0.8rem 0;
	border-bottom: 1px solid var(--offwhite);
}

.school-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stat;
	cursor: pointer;
	padding: 1rem 0 1rem 0;
}

.school-info > span {
	width: 33%;
	text-align: start;
}

.schools-header {
	display: flex;
	justify-content: end;
}

.schools-wrapper {
	display: flex;
	flex-direction: column;
}
