<app-view-item-wrapper
    [loading]="loading"
    [item]="item"
    [errorFlag]="errorFlag"
    (deleteEvent)="onDelete()"
    altButtonMessage="This school cannot be deleted"
    [hideButton]="item?.courses?.length !== 0 || !item"
>
    <h2>Edit School</h2>
    <app-school-form
        [form]="form"
        buttonText="Update School"
        (submitEvent)="updateItem()"
    >
        <app-form-validator [form]="form">
            <ul>
                <li>Name and address fields must have at least 3 characters</li>
                <li>Phone number must be 10 digits</li>
            </ul>
        </app-form-validator></app-school-form
    >
    <h2>Courses at school</h2>
    <app-item-list-header [columns]="['Name', 'Teacher', 'Credits']" />
    <app-conditional-message
        [condition]="!loading && item?.courses?.length === 0"
        message="No courses at this school"
    >
        @for (course of item?.courses; track course.id) {
            <app-list-item [item]="course | courseNoSchool" />
        }
    </app-conditional-message>
</app-view-item-wrapper>
