<app-view-item-wrapper
    [loading]="loading"
    [item]="school"
    (deleteEvent)="onDelete()"
    [altButtonMessage]="
        school?.courses?.length === 0
            ? undefined
            : 'This school cannot be deleted'
    "
>
    <h2>Edit School</h2>
    <form class="app-form" [formGroup]="form" (ngSubmit)="updateItem()">
        <div class="app-form-content">
            <app-input-label
                [group]="form"
                name="name"
                type="text"
                [value]="school?.name"
            >
                School Name
            </app-input-label>
            <app-input-label
                [group]="form"
                name="address"
                type="text"
                [value]="school?.address"
            >
                School Address
            </app-input-label>
            <app-input-label
                [group]="form"
                name="phoneNumber"
                type="tele"
                [value]="school?.phoneNumber"
            >
                School Phone Number
            </app-input-label>
            <button class="btn" type="submit">Update</button>
            <app-form-validator [form]="form">
                <ul>
                    <li>
                        Name and address fields must have at least 3 characters
                    </li>
                    <li>Phone number must be 10 digits</li>
                </ul>
            </app-form-validator>
        </div>
    </form>
    <h2>Courses at school</h2>
    <app-item-list-header [columns]="['Name', 'Teacher', 'Credits']" />
    <app-conditional-message
        [condition]="!loading && school?.courses?.length === 0"
        message="No courses at this school"
    >
        @for (course of school?.courses; track course.id) {
            <app-list-item [item]="course | courseNoSchool" />
        }
    </app-conditional-message>
</app-view-item-wrapper>
