<button
    aria-label="menu-button"
    class="menu-button"
    (click)="toggleMenuButton()"
    aria-label="open navigation menu"
>
    <span
        class="top-menu line button-animation"
        [class.open]="toggled"
        [class.closed]="!toggled"
    ></span>
    <span
        class="mid-menu line button-animation"
        [class.open]="toggled"
        [class.closed]="!toggled"
    ></span>
    <span
        class="bottom-menu line button-animation"
        [class.open]="toggled"
        [class.closed]="!toggled"
    ></span>
</button>
