.menu-button {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    justify-content: space-evenly;
    background: none;
    border: none;
}

.line {
    height: 3px;
    position: absolute;
    left: 0;
    background-color: var(--accent-color);
    width: 100%;
}

.button-animation {
    animation-duration: 400ms;
    animation-fill-mode: both;
}

.top-menu {
    top: 5px;
}

.top-menu.open {
    animation-name: top-menu-animation;
}

.top-menu.closed {
    animation-name: top-menu-rev-animation;
}

.mid-menu.open {
    animation-name: mid-menu-animation;
}

.mid-menu.closed {
    animation-name: mid-menu-rev-animation;
}

.bottom-menu {
    bottom: 5px;
}

.bottom-menu.open {
    animation-name: bottom-menu-animation;
}

.bottom-menu.closed {
    animation-name: bottom-menu-rev-animation;
}

@keyframes top-menu-animation {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: rotate(-45deg) translate(-6px, 6px);
    }
}

@keyframes top-menu-rev-animation {
    0% {
        transform: rotate(-45deg) translate(-5px, 7px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes mid-menu-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes mid-menu-rev-animation {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes bottom-menu-animation {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: rotate(45deg) translate(-6px, -6px);
    }
}

@keyframes bottom-menu-rev-animation {
    0% {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    100% {
        transform: translateY(0px);
    }
}
