<app-api-content-wrapper [hideButton]="true" [loading]="loadingSchools">
    <h2>Create Student</h2>
    <app-student-form
        [form]="form"
        buttonText="Create Student"
        (submitEvent)="createItem()"
        (loadSchoolsEvent)="finishLoadingSchools()"
        [disableButton]="disableButton"
    >
        <app-form-validator [form]="form">
            <ul>
                <li>All fields are required</li>
                <li>Email must be valid</li>
            </ul>
        </app-form-validator>
    </app-student-form>
</app-api-content-wrapper>
