<app-view-item-wrapper
    [loading]="loading || loadingSchools"
    [item]="teacher"
    (deleteEvent)="onDelete()"
    [altButtonMessage]="
        teacher?.courses?.length === 0
            ? undefined
            : 'This teacher cannot be deleted'
    "
>
    <h2>Edit Teacher</h2>
    <form class="app-form" [formGroup]="form" (ngSubmit)="updateItem()">
        <div class="app-form-content">
            <app-input-label
                [group]="form"
                name="firstName"
                type="text"
                [value]="teacher?.firstName"
            >
                Teacher First Name
            </app-input-label>
            <app-input-label
                [group]="form"
                name="lastName"
                type="text"
                [value]="teacher?.lastName"
            >
                Teacher Last Name
            </app-input-label>
            <app-school-select
                [group]="form"
                name="school"
                (loadingEvent)="finishLoadingSchools()"
            />
            <button class="btn" type="submit">Update</button>
            <app-form-validator [form]="form">
                <ul>
                    <li>Invalid input</li>
                </ul>
            </app-form-validator>
        </div>
    </form>
    <h2>Courses Taught</h2>
    <app-item-list-header [columns]="['Name', 'Credits']" />
    <app-conditional-message
        [condition]="!loading && teacher?.courses?.length === 0"
        message="No courses at this school"
    >
        @for (course of teacher?.courses; track course.id) {
            <app-list-item [item]="course | courseNoTeacher" />
        }
    </app-conditional-message>
</app-view-item-wrapper>
