<app-view-item-wrapper
    [loading]="loading || loadingSchools"
    [item]="item"
    (deleteEvent)="onDelete()"
    altButtonMessage="This teacher cannot be deleted"
    [hideButton]="item?.courses?.length !== 0 || !item"
    [errorFlag]="isFetchError"
    [isButtonError]="isDeleteError"
>
    <h2>Edit Teacher</h2>
    <app-teacher-form
        [form]="form"
        buttonText="Update Teacher"
        (submitEvent)="updateItem()"
        [disableButton]="updatedFlag"
        (loadSchoolsEvent)="finishLoadingSchools()"
    >
        <app-form-validator [form]="form">
            <ul>
                <li>Invalid input</li>
            </ul>
        </app-form-validator>
        <app-item-updated [show]="updatedFlag" />
    </app-teacher-form>
    <h2>Current Courses</h2>
    <app-item-list-header [columns]="['Name', 'Credits']" />
    <app-conditional-message
        [condition]="!loading && item?.courses?.length === 0"
        message="This teacher has no courses"
    >
        @for (course of item?.courses; track course.id; let i = $index) {
            <app-list-item
                [item]="course | courseNoTeacher"
                (clickEvent)="viewItem(course.id)"
                [altColor]="i % 2 === 1"
            />
        }
    </app-conditional-message>
</app-view-item-wrapper>
