<app-view-item-wrapper
    [loading]="
        loading || loadingSchools || loadingTeachers || loadingRegistrations
    "
    [item]="item"
    (deleteEvent)="onDelete()"
    altButtonMessage="This course cannot be deleted"
    [hideButton]="item?.registrations?.length !== 0"
    [errorFlag]="isFetchError"
>
    <h2>Edit Course</h2>
    <app-course-form
        [form]="form"
        (loadSchoolsEvent)="finishLoadingSchools()"
        (loadTeachersEvent)="finishLoadingTeachers()"
        (submitItemEvent)="updateItem()"
        buttonText="Update Course"
    >
        <app-form-validator [form]="form">
            <li>
                The credits field must be a whole number greater than or equal
                to 0
            </li>
        </app-form-validator>
        <app-item-updated [show]="updatedFlag" />
    </app-course-form>

    <h2>Add Student</h2>
    <form
        class="app-form"
        [formGroup]="registrationForm"
        (ngSubmit)="addRegistration()"
    >
        <div class="app-form-content">
            <app-select-item
                path="students"
                [group]="registrationForm"
                name="student"
                (loadingEvent)="finishLoadingRegistrations()"
                label="student"
                message="No students found"
            />
            <button class="btn" type="submit">Submit</button>
            <app-form-validator [form]="registrationForm">
                <ul>
                    <li>Invalid input</li>
                </ul>
            </app-form-validator>
        </div>
    </form>
    <h2>Current Students</h2>
    <app-item-list-header
        [columns]="['First Name', 'Last Name', 'Email']"
        [hasButton]="true"
    />
    <app-conditional-message
        [condition]="!loading && item?.registrations?.length === 0"
        message="This course has no students"
    >
        @for (student of item?.registrations; track student.student?.id) {
            @if (student.student) {
                <app-list-item
                    (buttonEvent)="removeRegistration(student.student.id)"
                    [item]="student.student | studentRegistration"
                />
            }
        }
    </app-conditional-message>
</app-view-item-wrapper>
