<app-view-item-wrapper
    [loading]="loading || loadingSchools || loadingRegistrations"
    [item]="item"
    (deleteEvent)="onDelete()"
    altButtonMessage="This student cannot be deleted"
    [hideButton]="item?.registrations?.length !== 0"
>
    <h2>Edit Student</h2>
    <app-student-form
        [form]="form"
        buttonText="Update Student"
        (submitEvent)="updateItem()"
        (loadCoursesEvent)="finishLoadingSchools()"
    >
        <app-form-validator [form]="form">
            <ul>
                <li>Invalid input</li>
            </ul>
        </app-form-validator></app-student-form
    >
    <h2>Add Courses</h2>
    <form
        class="app-form"
        [formGroup]="registrationForm"
        (ngSubmit)="addRegistration()"
    >
        <div class="app-form-content">
            <app-select-item
                path="courses"
                [group]="registrationForm"
                name="course"
                (loadingEvent)="finishLoadingRegistrations()"
                label="course"
                message="No courses found"
            />
            <button class="btn" type="submit">Submit</button>
        </div>
    </form>
    <h2>Current Courses</h2>
    <app-item-list-header [columns]="['Name', 'Teacher', 'Credits']" />
    <app-conditional-message
        [condition]="!loading && item?.registrations?.length === 0"
        message="This student isn't taking any courses"
    >
        @for (course of item?.registrations; track course.course?.id) {
            @if (course.course) {
                <app-list-item
                    (buttonEvent)="removeRegistration(course.course.id)"
                    [item]="course.course | courseRegistration"
                />
            }
        }
    </app-conditional-message>
</app-view-item-wrapper>
