<form class="app-form" [formGroup]="form" (ngSubmit)="submitItem()">
    <div class="app-form-content">
        <app-input-label [group]="form" name="name" type="text">
            Course Name
        </app-input-label>
        <app-input-label [group]="form" name="credits" type="text">
            Course Credits
        </app-input-label>
        <app-select-item
            path="schools"
            [group]="form"
            name="schoolId"
            label="school"
            message="No schools found"
            (loadingEvent)="loadingSchools()"
        />
        <app-select-item
            path="teachers"
            [group]="form"
            name="teacherId"
            label="teacher"
            message="No teachers found"
            (loadingEvent)="loadingTeachers()"
        />
        <button
            class="btn"
            type="submit"
            aria-label="submit course form"
            [disabled]="disableButton"
        >
            {{ buttonText }}
        </button>
        <ng-content />
    </div>
</form>
