<form class="app-form" [formGroup]="form" (ngSubmit)="submitItem()">
    <div class="app-form-content">
        <app-input-label [group]="form" name="name" type="text">
            Course Name
        </app-input-label>
        <app-input-label [group]="form" name="credits" type="text">
            Course Credits
        </app-input-label>
        <app-select-item
            path="schools"
            [group]="form"
            name="schoolId"
            (loadingEvent)="finishLoadingSchools()"
            label="school"
            message="No schools found"
        />
        <app-select-item
            path="teachers"
            [group]="form"
            name="teacherId"
            (loadingEvent)="finishLoadingTeachers()"
            label="teacher"
            message="No teachers found"
        />
        <button class="btn" type="submit" aria-label="submit course form">
            {{ buttonText }}
        </button>
        <ng-content />
    </div>
</form>
