<app-api-content-wrapper
    buttonText="Create Course"
    (clickEvent)="createItem()"
    [loading]="loading"
>
    <app-item-list-header
        [columns]="['Name', 'Teacher', 'School', 'Credits']"
    />
    <app-conditional-message
        [condition]="!loading && items?.length === 0"
        message="No schools found"
    >
        @for (course of items; track course.id) {
            <app-list-item
                (clickEvent)="viewItem(course.id)"
                [item]="course | courseDto"
            />
        }
    </app-conditional-message>
    @if (items && items.length >= PAGE_SIZE) {
        <button class="load-more-btn" (click)="getItems()">Load more</button>
    }
</app-api-content-wrapper>
