<app-api-content-wrapper
    buttonText="Create Student"
    (clickEvent)="createItem()"
    [loading]="loading"
>
    <h2>All Students</h2>
    <app-item-list-header
        [columns]="['First Name', 'Last Name', 'Email', 'School']"
    />
    <app-conditional-message
        [condition]="!loading && items?.length === 0"
        message="No students found"
    >
        @for (student of items; track student.id) {
            <app-list-item
                (clickEvent)="viewItem(student.id)"
                [item]="student | studentDto"
            />
        }
    </app-conditional-message>
    @if (items && items.length >= PAGE_SIZE) {
        <button
            class="load-more-btn"
            (click)="getItems()"
            aria-label="load more students"
        >
            Load more
        </button>
    }
</app-api-content-wrapper>
