<app-api-content-wrapper
    content="students"
    buttonText="Create Student"
    (clickEvent)="createStudent()"
    [loading]="loading"
>
    <app-item-list-header [columns]="['First Name', 'Last Name', 'School']" />
    <app-conditional-message
        [condition]="!loading && students?.length === 0"
        message="No schools found"
    >
        @for (student of students; track student.id) {
            <app-list-item
                (clickEvent)="viewStudent(student.id)"
                [item]="student | studentDto"
            />
        }
    </app-conditional-message>
    @if (students && students.length >= PAGE_SIZE) {
        <button class="load-more-btn" (click)="getStudents()">Load more</button>
    }
</app-api-content-wrapper>
