<app-api-content-wrapper
    buttonText="Create Student"
    (clickEvent)="createItem()"
    [loading]="loading"
>
    <app-item-list-header [columns]="['First Name', 'Last Name', 'School']" />
    <app-conditional-message
        [condition]="!loading && items?.length === 0"
        message="No schools found"
    >
        @for (student of items; track student.id) {
            <app-list-item
                (clickEvent)="viewItem(student.id)"
                [item]="student | studentDto"
            />
        }
    </app-conditional-message>
    @if (items && items.length >= PAGE_SIZE) {
        <button class="load-more-btn" (click)="getItems()">Load more</button>
    }
</app-api-content-wrapper>
