<app-api-content-wrapper
    [hideButton]="true"
    [ignoreContent]="true"
    [loading]="loading"
>
    <h2>Create Teacher</h2>
    <form
        class="app-form"
        [formGroup]="createTeacherForm"
        (ngSubmit)="createTeacher()"
    >
        <div class="app-form-content">
            <app-input-label
                [group]="createTeacherForm"
                name="firstName"
                type="text"
            >
                First Name
            </app-input-label>
            <app-input-label
                [group]="createTeacherForm"
                name="lastName"
                type="text"
            >
                Last Name
            </app-input-label>
            <app-school-select
                [group]="createTeacherForm"
                name="school"
                (loadingEvent)="finishLoading()"
            />
            <button class="btn" type="submit">Create Teacher</button>
            <app-form-validator [form]="createTeacherForm">
                <ul>
                    <li>All fields are required</li>
                </ul>
            </app-form-validator>
        </div>
    </form>
</app-api-content-wrapper>
