.item-list-header {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid var(--offwhite);
    font-weight: 700;
}

.btn-heading {
    flex: 3;
}

span {
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
}
