body {
    margin: 0;
    padding: 0;
}

:root {
    --light-color: hsl(240, 29%, 97%);
    --dark-color: hsl(144, 7%, 13%);
    --dark-text: hsl(144, 8%, 87%);
    --accent-color: hsl(127, 26%, 69%);
    --offwhite-light: hsl(0, 0%, 90%);
    --offwhite: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 100%);
    --light-red: hsl(354, 100%, 90%);
    --dark-red: hsl(0, 69%, 67%);
    --darkest-red: hsl(1, 83%, 63%);
    --green: hsl(123, 38%, 57%);
    --light-green: hsl(122, 37%, 74%);
}

.btn {
    padding: 0.5rem;
    background-color: var(--dark-color);
    color: var(--dark-text);
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}

.btn:hover {
    color: var(--accent-color);
    background-color: var(--dark-color);
}

.load-more-btn {
    background-color: var(--body-color);
    color: var(--dark-color);
    border: 1px solid var(--offwhite);
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
}

.app-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.app-form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

@media screen and (min-width: 400px) {
    .app-form-content {
        width: 80%;
    }
}

@media screen and (min-width: 520px) {
    .app-form-content {
        width: 60%;
    }
}

@media screen and (min-width: 750px) {
    .app-form-content {
        width: 50%;
    }
}

@media screen and (min-width: 1900px) {
    .app-form-content {
        width: 40%;
    }
}

h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

li {
    padding-left: 1.25rem;
    text-indent: -1.25rem;
}
