body {
	margin: 0;
	padding: 0;
}

:root {
	--light-color: #f4f4f9;
	--dark-color: #1f2421;
	--dark-text: #dce1de;
	--accent-color: #9cc5a1;
	--offwhite: #ccc;
}

.btn {
	padding: 0.5rem;
	background-color: var(--dark-color);
	color: var(--dark-text);
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
}

.btn:hover {
	color: var(--accent-color);
	background-color: var(--dark-color);
}
