::ng-deep * {
    margin: 0;
    padding: 0;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.app-body-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: calc(100% - 4rem);
}

.app-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;
    background-color: var(--body-color);
    overflow: auto;
}

.app-router-outlet {
    padding: 1rem 1rem 1rem 1rem;
}

@media screen and (min-width: 780px) {
    .app-body {
        width: 80%;
    }

    .app-router-outlet {
        padding: 1rem 2rem 1rem 2rem;
    }
}

@media screen and (min-width: 1050px) {
    .app-body {
        width: 60%;
    }
}

@media screen and (min-width: 1500px) {
    .app-body {
        width: 50%;
    }
}
