::ng-deep * {
	margin: 0;
	padding: 0;
}

.app-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	--desktop-app-width: 60%;
	background-color: var(--light-color);
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
}

.app-body-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	min-height: 100%;
}

.app-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	width: var(--desktop-app-width);
	background-color: var(--body-color);
}
