@if (loading) {
<div>Loading...</div>
} @else if(!loading && school !== undefined) {
<div>
	<app-confirmation-modal [onOk]="onDelete" />
	<form [formGroup]="updateSchoolForm" (ngSubmit)="updateSchool()">
		<input type="text" value="{{ school.name }}" formControlName="name" />
		<input type="text" value="{{ school.address }}" formControlName="address" />
		<input
			type="text"
			value="{{ school.phoneNumber }}"
			formControlName="phoneNumber" />
		<button type="submit">Update</button>
		<app-form-validator [form]="updateSchoolForm">
			<li>Name and address fields must have at least 3 characters</li>
			<li>Phone number must be 10 digits</li>
		</app-form-validator>
	</form>
	<button (click)="openModal()">Delete</button>
</div>
} @else {
<div>error</div>
}
