<ng-template #links>
    <a routerLink="/schools">Schools</a>
    <a routerLink="/teachers">Teachers</a>
    <a routerLink="/courses">Courses</a>
    <a routerLink="/students">Students</a>
</ng-template>

<header class="app-header">
    <div class="header-body">
        <h1>
            <a routerLink="/">School Management</a>
        </h1>
        @if (isMobile) {
            <app-menu-button (clickEvent)="onClickMenu()" />
        } @else {
            <nav class="header-nav">
                <ng-template [ngTemplateOutlet]="links" />
            </nav>
        }
    </div>
</header>
