<ng-template #links>
    <a routerLink="/schools" (click)="toggleMenu()">Schools</a>
    <a routerLink="/teachers" (click)="toggleMenu()">Teachers</a>
    <a routerLink="/courses" (click)="toggleMenu()">Courses</a>
    <a routerLink="/students" (click)="toggleMenu()">Students</a>
</ng-template>

<header class="app-header">
    <div class="header-body">
        <h1>School Management</h1>
        @if (isMobile) {
            @if (showMobileNav) {
                <div
                    class="mobile-nav-wrapper"
                    (click)="toggleMenu(false)"
                    (keyup.enter)="toggleMenu(false)"
                    tabindex="0"
                ></div>
            }

            <div class="menu-button-header">
                <app-menu-button
                    [toggled]="showMobileNav"
                    (clickEvent)="toggleMenu()"
                />
            </div>
        }

        <nav class="header-nav">
            <ng-template [ngTemplateOutlet]="links" />
        </nav>

        <div class="mobile-nav" [class.open]="showMobileNav && isMobile">
            <ng-template [ngTemplateOutlet]="links" />
        </div>
    </div>
</header>
